# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
src/gsap/src/uncompressed/plugins/CSSPlugin.js
src/gsap/docs.html
src/gsap/findShapeIndex.js
src/gsap/getting_started.html
src/gsap/src/bonus-files-for-npm-users/CustomEase.js
src/gsap/src/minified/jquery.gsap.min.js
src/gsap/src/minified/jquery.min.js
src/gsap/src/minified/TimelineLite.min.js
src/gsap/src/minified/TimelineMax.min.js
src/gsap/src/minified/TweenLite.min.js
src/gsap/src/minified/easing/CustomBounce.min.js
src/gsap/src/minified/easing/CustomEase.min.js
src/gsap/src/minified/easing/EasePack.min.js
src/gsap/src/minified/plugins/AttrPlugin.min.js
src/gsap/src/minified/plugins/BezierPlugin.min.js
src/gsap/src/minified/plugins/ColorPropsPlugin.min.js
src/gsap/src/minified/plugins/CSSPlugin.min.js
src/gsap/src/minified/plugins/CSSRulePlugin.min.js
src/gsap/src/minified/plugins/DirectionalRotationPlugin.min.js
src/gsap/src/minified/plugins/DrawSVGPlugin.min.js
src/gsap/src/minified/plugins/EaselPlugin.min.js
src/gsap/src/minified/plugins/EndArrayPlugin.min.js
src/gsap/src/minified/plugins/ModifiersPlugin.min.js
src/gsap/src/minified/plugins/Physics2DPlugin.min.js
src/gsap/src/minified/plugins/PhysicsPropsPlugin.min.js
src/gsap/src/minified/plugins/PixiPlugin.min.js
src/gsap/src/minified/plugins/RaphaelPlugin.min.js
src/gsap/src/minified/plugins/RoundPropsPlugin.min.js
src/gsap/src/minified/plugins/ScrambleTextPlugin.min.js
src/gsap/src/minified/plugins/ScrollToPlugin.min.js
src/gsap/src/minified/plugins/TextPlugin.min.js
src/gsap/src/minified/plugins/ThrowPropsPlugin.min.js
src/gsap/src/minified/utils/CSSTransform.min.js
src/gsap/src/minified/utils/Draggable.min.js
src/gsap/src/minified/utils/findShapeIndex.js
src/gsap/src/minified/utils/SplitText.min.js
src/gsap/src/uncompressed/jquery.gsap.js
src/gsap/src/uncompressed/TimelineLite.js
src/gsap/src/uncompressed/TimelineMax.js
src/gsap/src/uncompressed/TweenLite.js
src/gsap/src/uncompressed/TweenMax.js
src/gsap/src/uncompressed/easing/CustomBounce.js
src/gsap/src/uncompressed/easing/CustomEase.js
src/gsap/src/uncompressed/easing/EasePack.js
src/gsap/src/uncompressed/plugins/AttrPlugin.js
src/gsap/src/uncompressed/plugins/BezierPlugin.js
src/gsap/src/uncompressed/plugins/ColorPropsPlugin.js
src/gsap/src/uncompressed/plugins/CSSRulePlugin.js
src/gsap/src/uncompressed/plugins/DirectionalRotationPlugin.js
src/gsap/src/uncompressed/plugins/DrawSVGPlugin.js
src/gsap/src/uncompressed/plugins/EaselPlugin.js
src/gsap/src/uncompressed/plugins/EndArrayPlugin.js
src/gsap/src/uncompressed/plugins/ModifiersPlugin.js
src/gsap/src/uncompressed/plugins/MorphSVGPlugin.js
src/gsap/src/uncompressed/plugins/Physics2DPlugin.js
src/gsap/src/uncompressed/plugins/PhysicsPropsPlugin.js
src/gsap/src/uncompressed/plugins/PixiPlugin.js
src/gsap/src/uncompressed/plugins/RaphaelPlugin.js
src/gsap/src/uncompressed/plugins/RoundPropsPlugin.js
src/gsap/src/uncompressed/plugins/ScrambleTextPlugin.js
src/gsap/src/uncompressed/plugins/ScrollToPlugin.js
src/gsap/src/uncompressed/plugins/TEMPLATE_Plugin.js
src/gsap/src/uncompressed/plugins/TextPlugin.js
src/gsap/src/uncompressed/plugins/ThrowPropsPlugin.js
src/gsap/src/uncompressed/utils/Draggable.js
src/gsap/src/uncompressed/utils/findShapeIndex.js
src/gsap/src/uncompressed/utils/SplitText.js
