h1 {
    color: #676363;
}

h4 {
    color: #676363;
    font-size: 1.25em;
    margin: 0 0.5em 0 0.5em;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-center {
    vertical-align: middle;
}

.pull-down {
    margin-top: 1.0em;
    width: 100%;
}